/*font-family: 'Josefin Slab', serif;
font-family: 'Arvo', serif;
font-family: 'Poppins', sans-serif;*/

body {
  font-family: 'Poppins', sans-serif;
}

.whiteText {
  color: rgba(236, 240, 241,1.0);
  text-decoration: none;
}

.largerText {
  font-size: 1.83em;
}

.headline {
  font-size: 6.5em;
}

.uandi {
  font-size: 12em;
}

h1 {
  font-family:'Josefin Slab', serif;
  font-size: 8em;
  font-weight: bold;
  color: rgba(192, 57, 43,1.0);
}

h2 {
  color: rgba(192, 57, 43,1.0);
}

h3 {
  font-family: 'Arvo', serif;

}

h5 {
  font-size: 1.3em;
}

.postContent {
  font-size: 2em;
}
